# Hello world.

Welcome to one of many existing python crash courses!

In [1]:
# This is a single-line comment. Use a hash for this!

In [2]:
'''
Use 3 quotation marks to create a
multi-line
comment!
'''

'\nUse 3 quotation marks to create a\nmulti-line\ncomment!\n'

In [5]:
"""It can be done using single or double quotation marks,
and you can start and end on the same line
that that quotations are."""

'It can be done using single or double quotation marks,\nand you can start and end on the same line\nthat that quotations are.'

In [6]:
print("This is a statement!")

This is a statement!

In [9]:
variable = 24
print(variable)

24

In [10]:
variable = 24
variable_2 = "This is text!"
variable_3 = 'This is also text. Quotations are style.'
variable_4 = 45.7
variable_5 = False
variable_6 = None

In [13]:
type(variable)

int

In [14]:
type(variable_2)

str

In [15]:
type(variable_4)

float

In [16]:
type(variable_5)

bool

In [17]:
type(variable_6)

NoneType

In [19]:
x = "This string"
# is the same as
x = 'this other string.'
# And...
x = """This string"""
# is also the same as
x = '''all the other strings!'''

In [20]:
print(x)
type(x)

all the other strings!

str

In [23]:
x = ("If put in parentheses, "
     "this can also be a multi-line " 
     "string! You just have to use single "
     "quotation marks on each line, and" 
     "be careful about spaces between lines.")
print(x)

If put in parentheses, this can also be a multi-line string! You just have to use single quotation marks on each line, andbe careful about spaces between lines.

In [55]:
x = 13
type(x)

int

In [60]:
y = 4.6
type(y)

float

In [57]:
round(y)

5

In [58]:
z = 4.5
round(z)

4

In [59]:
test = round(z)
type(test)

int

In [70]:
list_1 = ["This is a list", "that contains" , "both strings", "and numbers: ", 234, 34.56]
print(list_1)
type(list_1)

['This is a list', 'that contains', 'both strings', 'and numbers: ', 234, 34.56]

list

In [69]:
tuple_1 = ("This is a tuple", "that contains" , "both strings", "and numbers: ", 234, 34.56)
print(tuple_1)
type(tuple_1)

('This is a tuple', 'that contains', 'both strings', 'and numbers: ', 234, 34.56)

tuple

In [77]:
list_1[0]

'This is a list'

In [78]:
list_1[5]

34.56

In [80]:
list_1[5] = 67
print(list_1)

['This is a list', 'that contains', 'both strings', 'and numbers: ', 234, 67]

In [81]:
tuple_1[5] = 67

TypeError: 'tuple' object does not support item assignment

In [90]:
this_dict = {
  "name": "Jupyter",
  "style": "Lab",
  "version": 3.3
}

In [91]:
this_dict["name"]

'Jupyter'

In [85]:
# You can create empty objects
empty_str = ""
empty_int = int()
empty_float = float()
empty_list = []
empty_tuple = ()
empty_dict = {}

In [89]:
print(
    type(empty_str), type(empty_int),
    type(empty_float), type(empty_list),
    type(empty_tuple), type(empty_dict)
)

<class 'str'> <class 'int'> <class 'float'> <class 'list'> <class 'tuple'> <class 'dict'>